name: Buscador Diario

on:
  schedule:
    # Se ejecuta a las 8:00 AM UTC (9:00 AM en España)
    - cron: '0 8 * * *'
  workflow_dispatch: # Botón para ejecutar manualmente

jobs:
  buscar:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar librerías
        run: pip install -r requirements.txt

      - name: Ejecutar Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
